<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
	<appSettings>
<!--Парметры для ТЕСТИРОВАНИЕ-->
		<add key="ConnectionString" 
		value="Persist Security Info=False;Integrated Security=SSPI;server=albert;Connect Timeout=30;initial catalog=Updater" />
		<add key="VersionStorage" value="versionInfo.xml"/>
		<add key="StartUpFile" value="cunningFile.exe"/>


		<!--
		<add key="ConnectionString" value="Persist Security Info=False;password=ukv; user id=ukv;server=10.227.64.67;Connect Timeout=30;initial catalog=UKV_Plan" />
		-->
		
	</appSettings>
</configuration>